*{
    margin: 0%;
    padding: 0%;
    
    background-color: #f5ebdc;
}
.logo-img{
    width: 120px;
    padding-left: 50px;
    align-items: center;
}

.start-your-order-img{
    width: 800px;
}
.order-dilevery-btn{
    border: 1px solid red;
}
